{% extends 'base.html' %}
{% load static %}


{% block title %}
{% if object %}Editar 
{% else %}
Crear 
{% endif %}
Tarea
{% endblock %}

<body>
    {% block contenido %}
        <div class="row align-items-center">
            <div class="d-flex justify-content-center py-3">
                <h3>{% if object %}Editar 
                    {% else %}
                    Crear 
                    {% endif %}
                    Tarea</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-body card-block">
                <form method="POST" action="" class="form-horizontal">{% csrf_token %}
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">{{ form.title.label }}</div>
                        <div class="col-12 col-md-9">{{ form.title }}</div>
                    </div>
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">{{ form.description.label }}</div>
                        <div class="col-12 col-md-9">{{ form.description }}</div>
                    </div>
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">Usuario asignado</div>
                        {% comment %} <div class="col col-md-3 fw-bold">{{ form.user.label }}</div>
                        <div class="col-12 col-md-9">{{ form.user }}</div> {% endcomment %}
                        <div class="col-12 col-md-9">
                            <select name="usuario_tarea" class="form-select" id="usuario_tarea">
                                <option selected="selected" disabled>Seleccionar usuario</option>
                                {% for user in users %}
                                <option value="{{ user }}">{{ user }}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">{{ form.due_date.label }}</div>
                        <div class="col-12 col-md-9">{{ form.due_date }}</div>
                    </div>
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">{{ form.status.label }}</div>
                        <div class="col-12 col-md-9">{{ form.status }}</div>
                    </div>
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">{{ form.priority.label }}</div>
                        <div class="col-12 col-md-9">{{ form.priority }}</div>
                    </div>
                    <div class="row form-group pb-3">
                        <div class="col col-md-3 fw-bold">{{ form.tag.label }}</div>
                        <div class="col-12 col-md-9">{{ form.tag }}</div>
                    </div>
                    <div class="row form-group pb-5">
                        <div class="col col-md-3 fw-bold">{{ form.completed.label }}</div>
                        <div class="col-12 col-md-9">{{ form.completed }}</div>
                    </div>
                    <input type="submit" class="btn btn-primary"value="Aceptar">
                    <a href="{% url 'task_list' %}" role="button" class="btn btn-danger">Cancelar</a> 
                </form>
            </div>
        </div>

    {% endblock %}
</body>