{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock %}

<body>
    {% block contenido %}
    <div class="row align-items-center">
        <div class="d-flex justify-content-center py-3">
            <h3>Detalles de tarea</h3>
        </div>
    </div>
    <div class="row align-items-center pt-2">
        <div class="col-3 d-flex justify-content-center">
            <a href="{% url 'task_update' task.id %}" role="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Editar</a> 
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#fm-modal-grid"><i class="fa fa-circle-info"></i> Eliminar</button>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#complete-modal-grid"><i class="fa-solid fa-check"></i> Completar</button>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a href="{% url 'task_list' %}" role="button" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i> Regresar</a> 
        </div>
    </div>

    <div class="row py-5">
        <div class="d-flex justify-content-center">
            <div class="card w-100">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ task.title }}</h4>
                    <p class="card-text text-center">{{ task.description }}</p>
                    <div class="row">
                        <div class="col-12">
                            <label for="usuario" class="fw-bold">Usuario asignado:</label>
                            {{form.user}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="vencimiento" class="fw-bold">Fecha de vencimiento:</label>
                            <span>{{ task.due_date }}</span>
                        </div>
                        <div class="col">
                            <label for="estado" class="fw-bold">Estado actual:</label>
                            {{task.status}}
                        </div>
                        <div class="col">
                            <label for="etiqueta" class="fw-bold">Etiqueta:</label>
                            <span class="badge text-bg-primary">{{ task.tag }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-left py-1">
        <h3>Comentarios</h3>
    </div>

    <div class="row">
        <div class="d-flex justify-content-left">
            <div class="card w-100">
                {% for comment in comments %}
                    <div class="card-head fw-bold p-2">
                        {{ comment.created_at }}
                    </div>
                    <div class="card-body">
                        {{ comment.text }}
                    </div>
                {% endfor %}
            </div>  
        </div>
    </div>
    <div class="row w-100 pt-3">
        <div class="col-12 d-flex justify-content-left fw-bold">
            <form method="POST" action="">{% csrf_token %}
                {{commentform.as_p}}
                <button type="submit" value="Guardar Comentario" name="saveCommentBtn" class="btn btn-success">Enviar comentario</button>
            </form>
        </div>  
    </div>

    <div class="modal fade" id="fm-modal-grid" tabindex="-1"
         role="dialog" aria-labelledBy="fm-modal-grid"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar tarea</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p>¿Seguro desea eliminar la tarea? Esta acción no puede revertirse.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'task_delete' pk=task.pk %}" method="POST">{% csrf_token %}
                        <button class="btn btn-danger">Eliminar</button>
                    </form>
                    <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="complete-modal-grid" tabindex="-1"
         role="dialog" aria-labelledBy="fm-modal-grid"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Completar tarea</h5>
                    <button class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p>¿Seguro desea marcar la tarea como completa?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'task_complete' pk=task.pk %}" method="POST">{% csrf_token %}
                        <button class="btn btn-success">Completar</button>
                    </form>
                    <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>