{% extends 'base.html' %}
{% load static %}

{% block title %}TASKS - Lista{% endblock %}

<body>
{% block contenido %}
    <div class="row align-items-center">
        <div class="col-10 d-flex justify-content-left py-3">
            <h3>Bienvenid@ a tu lista de tareas, {{ user.username }}</h3>
        </div>
        <div class="col-2">
            <button class="btn btn-success" type="submit"><a href="{%url 'task_create' %}" class="text-reset">Nueva Tarea</a></button>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Filtrar
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="span6">
                        <form method="POST">
                            <div class="d-flex justify-content-left py-3">
                                {% csrf_token %}
                                <select name="filter_by" class="form-select d-inline-block" id="filter_by">
                                    <option selected="selected" disabled>Filtrar tareas por estado</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="En proceso">En proceso</option>
                                    <option value="Completa">Completa</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-left py-3">
                                <select name="tagfilter" class="form-select d-inline-block" id="tagfilter">
                                    <option selected="selected" disabled>Filtrar tareas por etiqueta</option>
                                    {% for tag in tags %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col py-2">
                                <input type="submit" class="btn btn-primary" value="Filtrar"></input>
                                <a href="{%url 'task_list'%}" class="btn btn-primary" role="button">Borrar filtro</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

    <div class="d-flex justify-content-center pt-3">
        <div class="row  w-100">
            <div class="col-3 fw-bold">
                <p>Título de la tarea</p>
            </div>
            <div class="col-2 fw-bold">
                <p>Asignada a</p>
            </div>
            <div class="col-2 fw-bold">
                <p>Fecha de vencimiento</p>
            </div>
            <div class="col-1 fw-bold">
                <p>Prioridad</p>
            </div>
            <div class="col-2 fw-bold">
                <p>Etiqueta</p>
            </div>
            <div class="col-2 fw-bold">
                <p>Ver detalles</p>
            </div>
        </div>
    </div>

    {% for task in tasks %}
    <div class="row">
        <div class="d-flex justify-content-left">
            <div class="card w-100">
                <div class="card-body">
                    <div class="row justify-content-center">
                        {% if task.completed %}
                            <div class="col-3 fw-bold text-decoration-line-through">
                        {% else %}
                            <div class="col-3 fw-bold">
                        {% endif %}
                        <a href="{% url 'task_list' %}" class="text-reset">{{ task.title }}</a>
                    </div>
                    <div class="col-2">
                        {{task.user}}
                    </div>
                    <div class="col-2">
                        <i class="fa fa-calendar"></i>{{task.due_date|date:'d/m/Y'}}
                    </div>
                    <div class="col-1">
                        {% if task.priority.priority == "Urgente" %}
                            {% with badge_class="text-bg-danger" %}
                                <span class="badge {{ badge_class }}">{{ task.priority }}</span>
                            {% endwith %}
                        {% elif task.priority.priority == "Alta" %}
                            {% with badge_class="text-bg-warning" %}
                                <span class="badge {{ badge_class }}">{{ task.priority }}</span>
                            {% endwith %}
                        {% elif task.priority.priority == "Media" %}
                            {% with badge_class="text-bg-success" %}
                                <span class="badge {{ badge_class }}">{{ task.priority }}</span>
                            {% endwith %}
                        {% else %}
                            {% with badge_class="text-bg-light" %}
                                <span class="badge {{ badge_class }}">{{ task.priority }}</span>
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="col-2">
                        <span class="badge text-bg-primary">{{ task.tag }}</span>
                    </div>
                    <div class="col-2">
                        <a href="{% url 'task_details' task.id %}" role="button" class="btn btn-success"><i class="fa fa-circle-info"></i> Detalles</a> 
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <h4>No hay tareas pendientes. ¡Agrega una nueva tarea!</h4>
    {% endfor %}
{% endblock %} 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>